@{
    ViewData["Title"] = "10 latest blogposts on BlogSharp";
}

<div class="text-center">
    <h1 class="display-4">10 latest blog posts</h1>

    @foreach (var post in Model)
    {
        <div class="card">
            <div class="card-body">
                <a href="@Url.Action("Details", "BlogPosts", new { id = post.Id })"><h5 class="card-title">@post.Title</h5></a>
                <p class="card-text">
                    @post.Content
                </p>
            </div>
        </div>
    }
</div>